/*------------------------------------
  Avatar
------------------------------------*/

.u-avatar {
	width: $avatar-width;
	height: $avatar-height;
}

.u-sm-avatar {
	width: $avatar-sm-width;
	height: $avatar-sm-height;
}

.u-md-avatar {
	width: $avatar-md-width;
	height: $avatar-md-height;
}

.u-lg-avatar {
  width: $avatar-lg-width;
  height: $avatar-lg-height;
}