/*------------------------------------
  Header Center Aligned
------------------------------------*/

.u-header--center-aligned {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    &#{$infix} {
      &__inner {
        display: flex;
        justify-content: space-between;
        padding-top: 1rem;

        @include media-breakpoint-up($breakpoint) {
          justify-content: center;
          text-align: center;
          padding-top: .5rem;
        }
      }
    }
  }

  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    .navbar-expand {
      @include media-breakpoint-down($breakpoint) {
        $infix: breakpoint-infix($next, $grid-breakpoints);

        &#{$infix} {
          &.u-header__navbar {
            padding-top: 0;
          }
        }
      }
    }
  }
}