/*------------------------------------
  Slick Gutters
------------------------------------*/

.u-slick--gutters {
	margin-left: -.125rem;
	margin-right: -.125rem;

	.slick-slide {
		margin-left: .125rem;
		margin-right: .125rem;
	}
}

.u-slick--gutters-2 {
	margin-left: -.5rem;
	margin-right: -.5rem;

	.slick-slide {
		margin-left: .5rem;
		margin-right: .5rem;
	}
}

.u-slick--gutters-3 {
	margin-left: -.9375rem;
	margin-right: -.9375rem;

	.slick-slide {
		margin-left: .9375rem;
		margin-right: .9375rem;
	}
}