/*------------------------------------
  Label Sizes
------------------------------------*/
/* Extra Small */
.u-label--xs {
  font-size: $label-font-size-xs;
  padding: $label-padding-xs;
}

/* Small */
.u-label--sm {
	font-size: $label-font-size-sm;
	padding: $label-padding-sm;
}