/*------------------------------------
  Link Colors
------------------------------------*/

.link {
  &-dark {
    color: $dark;

    &:hover {
      color: $primary;
    }
  }

  &-secondary {
    color: $secondary;

    &:hover {
      color: $link-color;
    }
  }
}